<footer>
      <div class="max-width mx-auto flex justify-center items-center">
            <h4 class="my-1 text-center text-bold">Copyright &copy; gpgcbilaspur.com|ALL RIGHTS RESERVED.
            </h4>
      </div>
</footer>