 <!-- header for navlinks -->
<header id="header">
      <div class="flex justify-between max-width mx-auto">
            <a href="#" class="nav-toggle" id="nav-toggle"> <i class="fa-solid  fa-bars"></i></a>
            <div class="navlinks " id="navlinks">
                  <ul class="flex ">
                        <li> <a href="/"> Home</a> </li>
                        <li> <a href="about"> About</a> </li>
                        <li> <a href="courses">Courses</a> </li>
                        <li> <a href="/gallery">Gallery</a> </li>
                        <li> <a href="/facilities">Facilities</a> </li>
                        <li> <a href="/contact">Contact</a> </li>
                  </ul>
            </div>
            <div class="theme flex" id="theme">

                  <!-- <h4>Theme</h4> -->
                  <a href="#">
                        <i class="fa-sharp fa-solid fa-circle-half-stroke" id="dark"></i>
                        <!-- <img src="img/darkmode-icon.svg" id="dark" alt="" width="20px"> -->
                        <!-- <i class="fa-solid fa-moon  " id="dark"></i> -->
                  </a>
                  <a href="/login" class="primary-button " id="login">Login</a>

            </div>
      </div>
</header>
