<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Error</title>
</head>
<style>
      body{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            flex-direction: column;

      }
      h1{
            font-style: italic;
            font-family: var(--font3);
            font-size: 50px;
      }
</style>
<body>
      <img src="/img/error.png" height="200px" width="200px" alt="">
      <h1 >SORRY!</h1>
      <h3>Some error occured Please retry</h3>
</body>
</html>